* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scene {
    /*display: block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: #35203B 1px solid;
    overflow: hidden;
    background-color: #6A9C9C;
}

.scene .element {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-color: blue;*/
}

.element:nth-child(3n+0){
  background-color: #7F1637;
}
.element:nth-child(3n+1){
  background-color: #FFB733;
}
.element:nth-child(3n+2){
  background-color: #C22121;
}

.pinset {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  background-color: #F57336;
  text-align: center;
}
